<div class="transactions-container">

  <div class="transaction-form">
    <h2>Submit new transaction</h2>
    <TransactionForm />
  </div>

  <div class="transaction-content">
    <div>
      <h2>Transaction history</h2>
    </div>
    <div>
      {{#with (first @model) as |lastTransaction| }}

        <div class="transaction-card"
             data-type=transaction
             data-account-id={{lastTransaction.accountId}}
             data-amount={{lastTransaction.amount}}
             data-balance={{lastTransaction.accountBalance}}>
          {{#if (isNegative lastTransaction.amount)}}
            {{#with (removeSign lastTransaction.amount) as |convertedTransaction| }}
              <p>Transferred £{{convertedTransaction}} from account {{lastTransaction.accountId}}</p>
            {{/with}}
          {{else}}
            <p>Transferred £{{lastTransaction.amount}} to account {{lastTransaction.accountId}}</p>
          {{/if}}
          <p>The current balance is £{{lastTransaction.accountBalance}}</p>
        </div>
        <br />
      {{/with}}

      {{#each (reverse @model) as |transaction| }}
        <div class="transaction-card"
             data-type=transaction
             data-account-id={{transaction.accountId}}
             data-amount={{transaction.amount}}>
          {{#if (isNegative transaction.amount)}}
            {{#with (removeSign transaction.amount) as |convertedTransaction| }}
              <p>Transferred £{{convertedTransaction}} from account {{transaction.accountId}}</p>
            {{/with}}
          {{else}}
            <p>Transferred £{{transaction.amount}} to account {{transaction.accountId}}</p>
          {{/if}}
        </div>
        <br />
      {{/each}}
    </div>
  </div>
</div>
