<h1>Transactions</h1>
<TransactionForm />
<div>
  {{#with (first @model) as |lastTransaction| }}

    <div data-type="transaction"
        data-account="{{lastTransaction.accountId}}"
        data-amount="{{lastTransaction.amount}}"
        data-balance="{{lastTransaction.accountBalance}}">
      {{#if (isNegative lastTransaction.amount)}}
        {{#with (removeSign lastTransaction.amount) as |convertedTransaction| }}
          <p>Transferred £{{convertedTransaction}} from account {{convertedTransaction}}</p>
        {{/with}}
      {{else}}
        <p>Transferred £{{lastTransaction.amount}} to account {{lastTransaction.accountId}}</p>
      {{/if}}
      <p>The current balance is £{{lastTransaction.accountBalance}}</p>
    </div>
  {{/with}}

  {{#each (reverse @model) as |transaction| }}
    <div data-type="transaction"
        data-account="{{transaction.accounyId}}"
        data-amount="{{transaction.amount}}">
      {{#if (isNegative transaction.amount)}}
        {{#with (removeSign transaction.amount) as |convertedTransaction| }}
          <p>Transferred £{{convertedTransaction}} from account {{convertedTransaction}}</p>
        {{/with}}
      {{else}}
        <p>Transferred £{{transaction.amount}} to account {{transaction.accountId}}</p>
      {{/if}}
    </div>
  {{/each}}
</div>
